.venv/
.env/
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

docs/

.vscode

.env

.DS_Store
ucr_chatbot/.DS_Store
ucr_chatbot/web_interface/.DS_Store
tests/.DS_Store


ucr_chatbot/uploads
ucr_chatbot/test_uploads
ucr_chatbot/db/uploads

bin/