/* UCR Brand Colors: https://brand.ucr.edu/ucr-colors-old */
/* UCR Brand Font: https://brand.ucr.edu/ucr-typefaces */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  background-color: #f7f7f8;
  color: #333;
  display: flex;
  flex-direction: column; 
}

#main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* FONTS */
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fira-sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: 
    linear-gradient(rgba(0, 61, 165, 0.7), rgba(0, 61, 165, 0.7)),
    url("/static/images/header.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 1.5rem 1.5rem;
  border-bottom: 6px #FFB81C solid;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 1rem; 
}
header h1 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
header img {
  height: 50px;
}
h1 span {
  color: #FFB81C; 
}

/* FLASH MESSAGES */
ul.flashes {
  position: fixed;   
  top: 0;    
  left: 0;  
  right: 0;  
  margin: 0;                            
  padding: 10px 20px;
  list-style: none;
  z-index: 9999;  
  display: flex; 
  justify-content: center;
  gap: 10px;
}
ul.flashes li {
  padding: 10px 15px;
  border-radius: 4px;
  top: 0; 
  margin-bottom: 8px;
  font-size: 16px;
}
ul.flashes li.success {
  background-color: #78BE20;
  color: black;
}
ul.flashes li.error {
  background-color: #E4002B;
  color: white;
}
ul.flashes li.info {
  background-color: #009CDE;
  color: white;
}
ul.flashes li.warning {
  background-color: #FBDB65;
  color: black;
}
