/* LOGOUT BUTTON */
.logout-button {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #0056b3;
}

/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: column;
} */
