/* UCR Brand Colors: https://brand.ucr.edu/ucr-colors-old */
/* UCR Brand Font: https://brand.ucr.edu/ucr-typefaces */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  height: 100vh;
  background-color: #f7f7f8;
  color: #333;
  display: flex;
  flex-direction: column; 
}

#main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

/* FONTS */
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.fira-sans {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003da5;
  color: white;
  padding: 1.5rem 2rem;
}
header h1 {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
header img {
  height: 50px;
}

/* SIDEBAR */
#sidebar {
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #003DA5;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

#sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #003DA5;
  font-weight: 500;
}

.conversation-item {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  background-color:	#fff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 0.95rem;
}

.conversation-item:hover {
  background-color: #FFB81C;
}

.conversation-item.active {
  background-color: #FFB81C;
  font-weight: bold;
}

/* MESSAGES */
#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#chat-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  max-width: 700px;
  padding: 1rem;
  border-radius: 10px;
  white-space: pre-wrap;
  line-height: 1.5;
}

.user {
  align-self: flex-end;
  background-color: #FFB81C;
}

.bot {
  align-self: flex-start;
  background-color: #f0f0f0;
}

#message-input {
  padding: 1rem;
  border-top: 1px solid #003DA5;
  background-color: #fff;
}

#input-form {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  gap: 0.5rem;
}

#input-form textarea {
  flex-grow: 1;
  resize: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #003DA5;
}

#input-form textarea:focus {
  outline: 2px solid #FFB81C;
  border: 1px solid #FFB81C;
}

#sendButton{
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #003DA5;
  color: white;
  cursor: pointer;
}

#sendButton:hover {
  background-color: #FFB81C;
  color: black;
}

#redirectButton {
  background-color: #003DA5;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #3364B7;
  color: white;
  cursor: pointer;
}

#redirectButton:hover {
  background-color: #FFC649;
  color: black;
}