<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="stylesheet" href="../static/assistant.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Scott<span><b>GPT</b></span></h1>
      <img src="../static/images/UC_Riverside_Horiz_BluBG.png" alt="UCR Logo">
    </header>

    <div id="main-layout" class="oswald">
      <h1>REDIRECTED CONVERSATIONS</h1>
    </div>
    
    <section class="section">
      <h2>🔴 NEEDS ATTENTION</h2>
      <div id="needs-attention-list"></div>
    </section>

    <section class="section">
      <h2>🟡 IN PROGRESS</h2>
      <div id="in-progress-list"></div>
    </section>
  <script src="../static/assistant.js"></script>
  </body>
</html>