<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title or "UCR"}}</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <u1 class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li> 
        {% endfor %}
        </u1>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
  </head>
{% endautoescape %}
</html>
