<!-- Login Page -->
{% extends "base.html" %}

{% block title %}Login | ScottGPT{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}
  <div class="login-container">
    <img class="ucr-logo" src="{{ url_for('static', filename='images/UC_Riverside_Horiz_BluBG.png') }}" alt="UCR Logo">

    <h1>Welcome to <span>ScottGPT!</span></h1>

    <form id="auth-form" action="{{url_for('web_routes.login')}}" method="post">
        
      <label for="email">Email:</label>
        <input 
          type="hidden" 
          name="csrf_token" 
          value="{{ csrf_token }}">        
        
          <input 
          type="text" 
          name="email"
          class="input-field"
        />
        
      <label for="password">Password:</label>
        <input 
          type="password" 
          name="password"
          class="input-field"
        />
        
        <input 
          type="submit" 
          value="Login" 
          class="btn btn-login" 
          onclick="setActionForm('login')"
        />
        
        <input 
          type="button" 
          class="btn login-google" 
          value="Login with Google"
            onclick="window.location.href='{{ url_for('web_routes.login_google')}}'" 
        />
    </form>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}