{% extends "base.html" %}

{% block title %}Upload Documents | ScottGPT{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/instructor_portal.css') }}">
{% endblock %}

{% block body %}
    <section style="margin-left: 20px; margin-right: 20px">
        
        <h1>Files</h1>
        <div class="card">
            <form method=post action="{{ url_for("web_interface.document_routes.post_document")}}" enctype=multipart/form-data id="uploadForm" onsubmit="disableUploadButton()">
                <input type=file name=file required>
                <input type=hidden name="course_id" value="{{course.id}}" required>
                <input type=submit id="uploadButton" value=Upload>
            </form>
        </div>

        <div id="documentList">
            <ul style="margin-bottom:4px;">

                {% for document in documents %}
                <li>
                    <a href="{{url_for("web_interface.document_routes.get_document", file_path=document.file_path)}}">{{document.filename}}</a>
                    <button delete-object="{{url_for("web_interface.document_routes.delete_document", file_path=document.file_path)}}">Delete</button>
                </li>
                {% else %}
                <li>No documents uploaded.</li>
                {% endfor %}
            </ul>
        </div>


        <h1>Consent Forms</h1>

        {% if course.consent_forms %}
        <div class="card">
            <h3>Active Consent Forms</h3>
            <ul>
                {% for consent_form in course.consent_forms %}
                    <li>
                        {{consent_form.title}}
                        <a href="{{ url_for('web_interface.consent_form_routes.get_consent_form', consent_form_id=consent_form.id) }}" class="model-link">(view)</a> 
                        <a class="model-link" delete-object="{{ url_for('web_interface.consent_form_routes.delete_consent_form', consent_form_id=consent_form.id) }}">(remove)</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="card">
            <h3>Add Consent Form</h3>
            <form method=post action="{{ url_for('web_interface.consent_form_routes.post_consent_form') }}" enctype=multipart/form-data>
                <div class="form-row">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title">
                        <label for="title">Form Content</label>

                        <label for="body"></label>
                        <textarea id="body" name="body"></textarea>
                        <input type="hidden" name="course_id" value="{{course.id}}">
                    </div>
                </div>
                
                <input type="hidden" name="role" value="student">
                <input type=submit value=Add>
            </form>
        </div>

        <h1>Students</h1>
        <div class="card">
            <h3>Add Students from CSV</h3>
            <form participates-ins-form>
                <input type=file name="file">
                <input type="hidden" name="role" value="student">
                <input type="hidden" name="course_id" value="{{course.id}}">
                <input type=submit value="Add">
            </form>
        </div>

        <div class="card">
            <h3>Add Student Manually</h3>
            <form method="post" action="{{ url_for('web_interface.participates_in_routes.post_participates_in') }}">
                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Student Email:</label>
                        <input type="text" id="email" name="email">
                    </div>
                </div>
                <input type="hidden" name="course_id" value="{{course.id}}">
                <input type="hidden" name="role" value="student">
                <input type=submit value=Add>
            </form>
        </div>

       
        <div class="card">
            <h3>Students Enrolled</h3>
            <ul style="list-style: none; max-height: 200px; overflow-y: auto;">
                {% for student in students %}
                <li>
                    <span>{{ student.email }}</span>
                    <button delete-object="{{ url_for('web_interface.participates_in_routes.delete_participates_in', course_id=course.id, email=student.email) }}" style="display:inline;">
                        Remove
                    </button>
                </li>
                {% else %}
                <li>No students enrolled.</li>
                {% endfor %}
            </ul>
        </div>

        <h1>Usage Summary</h1>
        <div class="card">
            <form action="{{ url_for('web_interface.instructor_portal.post_summary', course_id=course.id) }}" method="post">

                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date"  />
                
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" />
                
                <button type="submit">Download Report</button>
            </form>
        </div>

        <h1>Assistants</h1>
        <div class="card">
            <h3>Add Assistant Manually</h3>
            <form method="post" action="{{ url_for('web_interface.participates_in_routes.post_participates_in') }}">
                <div class="form-row">
                    <div class="form-group">
                        <label for="email">Assistant Email:</label>
                        <input type="text" id="email" name="email">
                    </div>
                </div>
                <input type="hidden" name="course_id" value="{{course.id}}">
                <input type="hidden" name="role" value="assistant">
                <input type=submit value=Add>
            </form>
        </div>

        <div class="card">
            <h3>Assistants</h3>
            <ul style="list-style: none; max-height: 200px; overflow-y: auto;">
                {% for assistant in assistants %}
                <li>
                    <span>{{ assistant.email }}</span>
                    <button delete-object="{{ url_for('web_interface.participates_in_routes.delete_participates_in', course_id=course.id, email=assistant.email) }}" style="display:inline;">
                        Remove
                    </button>
                </li>
                {% else %}
                <li>No assistants have been added to this course.</li>
                {% endfor %}
            </ul>
        </div>

        <div class="card">
            <h3>Add Assistants from CSV</h3>
                <form participates-ins-form>
                    <input type=file name="file">
                    <input type="hidden" name="role" value="assistant">
                    <input type="hidden" name="course_id" value="{{course.id}}">
                    <input type=submit value="Add">
                </form>
            </div>
    </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/instructor_portal.js') }}"></script>
{% endblock %}