<!-- A user gets to the landing page, which is routed to course_selection. After selecting a course, 
the user is routed to new_conversation with the ID of the course for which a new conversation should
be started. This page should have a chat interface like Gemini or ChatGPT. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCR</title>
</head>
<body>
    <h1>Select a Course:</h1>
    <ul>
        <!-- insert for loop here maybe to connected database of classes? -->
        <li>
            <!-- lists buttons for each course {course.name} which link to a new convo and the appropriate course id -->
            <a href="{{ url_for('routes.new_conversation', course_id=course.id) }}"> {{ course.name }} </a>
        </li>
    </ul>
</body>
</html>
